#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-fluid, .row {
    height: 100dvh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
    .sidebar {
        background-color: #343a40;
    }
}

@media (prefers-color-scheme: light) {
    .sidebar {
        background-color: #f8f9fa;
    }
}

.card {
    border-radius: 15px;
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
}

button {
    margin-top: 1rem;
}



ul {
    margin-top: 0.5rem;
}

.html-icon {
    color: rgba(231, 77, 77, 1);
}

.css-icon {
    color: rgba(6, 147, 255, 1);
}